div.profile{
    width: 40%;
    margin: 0 auto;
    margin-top: 132px;
    display: flex;
    flex-direction: column;
}
img.prof-img{
    width: 120px;
    border-radius: 50%;
    margin: 0 auto;
}
input{
    padding: 10px;
    border-radius: 10px;
    margin-top: 12px;
    
}
h1{
    text-align: center;
}
span.delete-acc,span.sign-out{
    color: rgb(227, 101, 101);
    
}
.del-upd{
    margin-top: 15px;
    font-size: 17px;
    cursor: pointer;
    margin-bottom: 15px;
}
.delete-acc{
    margin-right: 68%;
}