form{
    display: flex;
    flex-direction: column;
}

form input:where(.username,.email,.password),form button{
    padding: 10px;
    border-radius: 10px;
    margin-top: 12px;
    
}
form button.signup-confirm{
    background-color: rgb(232, 122, 71);
    color:white;
}
div.haveaccount{
    display: flex;
    gap: 8px;
}
