@import url(//fonts.googleapis.com/css?family=Nunito);
.team-logo {
    height: 70px;
} 
nav.nav1 a,nav.nav2 a{
    font-size: 16px !important;
    font-family: 'Nunito';
    color:white;
}


.w3-container{
    padding: 0.1rem 8px !important;
}
body{
    font-family: 'Nunito';
    color: white;
}

a.disabled {
    position: fixed;
}

.nav1 {
    background-color: #08142c;
    padding: 22px 0;
    justify-content: space-between;
}


.nav2 {
    background-color: #031840;
    top: 80px;
    position: fixed;
    width: 100%;
    z-index: 2;
    padding: 20px 0;
}
.disabled{
    color:white !important;
    filter: brightness(50%);
}


/* width */
::-webkit-scrollbar {
    width: 2px;
    background-color: #08142c;
}

/* Track */
::-webkit-scrollbar-track {
    box-shadow: inset 0 0 1px #f5921d;
    border-radius: 10px;
    filter: brightness(10%);
    scrollbar-width:thin;
}

/* Handle */
::-webkit-scrollbar-thumb {
    background: #f5921d;
    border-radius: 10px;
    scrollbar-width:thin;
}

@media screen and (max-width:1024px)and (min-width:992px)  {
    a.disabled {
        position: static;
    }
}

@media screen and (max-width:991.98px){
    a.disabled {
        position: relative;
    }
    button.navbar-toggler.color-expand{
        color: white !important;
        font-size: 24px;
        padding: 6px;
        border-radius: 6px;
    }

}

